.Missing {

    #main{
        background-image: url(../../../../public/Assets/images/sad.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    body,h1,h2,h3,h4,h5,h6 {
        font-family: "Lato", sans-serif;
    }

    body, html {
        color: #777;
        line-height: 1.8;
        background-color: black;
        
    }

    #main {
        background-color: black;
        clear: both;
    }

    .w3-wide {letter-spacing: 10px;}
    .w3-hover-opacity {cursor: pointer;}

    .text_container {
        position:relative;   
        top:-80vh;
        left: 5vw;
        height: 70vh;
        width: 50vw;
        background-color: black;
    }

    .heading {
        color: white;
        display: block;
        padding: 30px;
        font-size: 4vh;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
    }

    p {
        color: white;
        padding: 30px;
        font-size: 2vh;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
    }

    .pause {
        color: white;
        padding: 30px;
        font-size: 2vh;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
    }


    @media only screen and (min-width: 1700px) {
        .text_container {
        top:-80vh;
        left: 5vw;
        height: 40vh;
        width: 50vw;
        background-color: black;
    }

    }

    @media only screen and (min-width: 730px) and (max-width: 1700px) {
        .text_container {
        top:-85vh;
        left: 5vw;
        height: 70vh;
        width: 60vw;
        background-color: black;
    }


    }
                
    @media only screen and (max-width: 730px) {
        .text_container {
        top:-95vh;
        left: 5vw;
        height: 100vh;
        width: 80vw;
        background-color: black;
    }

    }

}